<mat-card>
    <mat-card-content>
    <form class="createnovel">
        <mat-form-field>
          <input matInput placeholder="Novel name"/>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Novel description"/></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Novel image"/></textarea>
        </mat-form-field>
        <mat-form-field>
          <button mat-button type="submit">Create</button></mat-button>
        </mat-form-field>
    </form>
    </mat-card-content>
  </mat-card>
  