<div class="editNovelCard">
<mat-card>     
	<mat-card-title>    
	{{ 'editnovel.editingnovel' | translate }}
	</mat-card-title>    

	<mat-card-content>    
		<form [formGroup]="novelForm" (ngSubmit)="onSubmit()">    
			<table>    
				<tr>    
					<td colspan="2">    
					<mat-form-field class="demo-full-width">    
					<input matInput formControlName="name" placeholder="{{ 'editnovel.nameofnovel' | translate }}">
					<mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
						<mat-error *ngIf="name.errors.required">{{ 'editnovel.nameofnovel' | translate }} is required.</mat-error>
						<mat-error *ngIf="name.errors.minlength">{{ 'editnovel.nameofnovel' | translate }} must be at least 4 characters long.</mat-error>
						<mat-error *ngIf="name.errors.maxlength">{{ 'editnovel.nameofnovel' | translate }} must not be longer than 15 characters.</mat-error>
					</mat-error>
					</mat-form-field>    
					</td>      
				</tr>
				<tr><td><br></td></tr>
				<tr>    
					<td colspan="2">    
					<mat-form-field class="demo-full-width">    
					<textarea matInput formControlName="description" placeholder="{{ 'editnovel.description' | translate }}"></textarea>
					<mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
						<mat-error *ngIf="description.errors.required">{{ 'editnovel.description' | translate }} is required.</mat-error>
						<mat-error *ngIf="description.errors.minlength">{{ 'editnovel.description' | translate }} must be at least 10 characters long.</mat-error>
						<mat-error *ngIf="description.errors.maxlength">{{ 'editnovel.description' | translate }} must not be longer than 100 characters.</mat-error>
					</mat-error>
					</mat-form-field>    
					</td>    
				</tr>
				<tr><td><br></td></tr>
				<tr>    
					<td colspan="2">    
					<mat-form-field class="demo-full-width">    
					<mat-select matInput formControlName="language" placeholder="{{ 'createnovel.language' | translate }}">
				      <mat-option value="en">English</mat-option>
				      <mat-option value="es">Español</mat-option>
				      <mat-option value="fr">Français</mat-option>
				      <mat-option value="de">Deutsch</mat-option>
				    </mat-select>
					<mat-error *ngIf="language.invalid && (language.dirty || language.touched)">
						<mat-error *ngIf="language.errors.required">Language is required.</mat-error>
					</mat-error>
					</mat-form-field>    
					</td>    
				</tr>
				<tr><td><br></td></tr>
				<tr>    
					<td colspan="2">    
					<mat-form-field class="demo-full-width">    
					<mat-select matInput formControlName="agerange" placeholder="{{ 'createnovel.agerange' | translate }}">
				      <mat-option value="10-12">10-12 {{ 'novel.yearsold' | translate }}</mat-option>
				      <mat-option value="10-15">10-15 {{ 'novel.yearsold' | translate }}</mat-option>
				      <mat-option value="10-18">10-18 {{ 'novel.yearsold' | translate }}</mat-option>
				      <mat-option value="12-15">12-15 {{ 'novel.yearsold' | translate }}</mat-option>
				      <mat-option value="12-18">12-18 {{ 'novel.yearsold' | translate }}</mat-option>
				      <mat-option value="15-18">15-18 {{ 'novel.yearsold' | translate }}</mat-option>      
				    </mat-select>
					<mat-error *ngIf="agerange.invalid && (agerange.dirty || agerange.touched)">
						<mat-error *ngIf="agerange.errors.required">Age range is required.</mat-error>
					</mat-error>
					</mat-form-field>    
					</td>    
				</tr>
				<tr><td><br></td></tr>
				<tr>
				<td colspan="2"><img *ngIf="novel" class  = "novelImage" mat-card-image [src]="'data:' + novel.image.extension + ';base64,' +  
						novel.image.src" [alt]="novel.name" style="margin: 0 0 0 0;"></td>  
				</tr>
				<tr>    
					<td>       
					<input type="file" (change)="onFileChange($event)" placeholder="Novel image"> 
					<div *ngIf="image">{{image.name}}</div>
					</td>   	 
				</tr> 
				<tr><td><br></td></tr>
					<tr>    
					<td colspan="1" class="content-center">    
						<button type="submit" [disabled]="!novelForm.valid" mat-raised-button color="primary">{{ 'editnovel.submit' | translate }}</button>    
					</td>
					<td *ngIf="!novelForm.dirty && novel" colspan="1" class="content-center">    
						<a class="saveButton" title="Extract novel" [href]="downloadJsonHref" [download]="novel.name+'.json'"><mat-icon>save_alt</mat-icon></a>    
					</td>
				</tr>  
			</table>    
		</form>   
	</mat-card-content>    
</mat-card>
</div>
<div class="pageDiv" >
		<mat-card class="pageCard" *ngFor="let page of pages; let i = index; trackBy: trackByFn">
			<mat-card-header>
			<div class="pageAvatar" mat-card-avatar 
			[style.background]="'url(data:' + page.image.extension + ';base64,' +  
			page.image.src + ')'"
    		[style.background-size]="'cover'"
    		[style.background-position]="'center'"></div>
			<mat-card-title>{{ 'editnovel.page' | translate }} {{i+1}}</mat-card-title>
			<mat-card-subtitle>{{(page.text.length>25)? (page.text | slice:0:25)+'...':(page.text)}}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-actions align="end">
	    		<span class = "pageButtons">
	    		<button mat-button (click)="readPage(i + 1)"><mat-icon>visibility</mat-icon></button>
	    		<button mat-button (click)="editPage(i + 1)"><mat-icon>edit</mat-icon></button>
	    		</span>
  			</mat-card-actions>
		</mat-card>
		<div class="buttonDiv"><button class = "newPageButton" mat-fab color="primary" (click)="newPage()"><mat-icon>add</mat-icon></button></div>
</div>

