.editNovelCard{
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.pageDiv{
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
}

.newPageButton{
	display: inline-block;	
}

.buttonDiv{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pageCard{
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}


.pageButtons button{
	min-width: 50px;
	padding: 0;
}

.novelImage{
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	display: block;
	margin-top: 0px !important;
}

.pageAvatar{
	margin-right: 10px;
}

.demo-full-width{
	width: 100%;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
    display: inline-flex;
    vertical-align: middle;
}