.panel-body {
	display: flex;
	background: #eeeeee;
	
}

.novel{
	height: auto;
	margin-bottom: 10px;
}

li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}
ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.novelImage {
	max-width: 400px;
	max-height: 225px;
}

.novelButtons button{
	float: right;
	min-width: 50px;
	padding: 0;
}

.novelAvatar:hover {
	cursor:pointer;
}