<div class="grid-container">
	<mat-grid-list cols="1" rowHeight="500px">
	<mat-grid-tile *ngFor="let novel of novels">
		<mat-card class="novelCard">
			<mat-card-header class="novelHeader">
			<div class="novelAvatar" (click)="viewUser(novel.user.id)" mat-card-avatar 
			[style.background]="'url(data:' + novel.user.avatar.extension + ';base64,' +  
			novel.user.avatar.src + ')'"
    		[style.background-size]="'cover'"
    		[style.background-position]="'center'"></div>
			<mat-card-title>
			<div class="novelTitle"><span class="novelName">{{novel.name}}</span>
			<span *ngIf="novel.language=='en'" class="flag-icon flag-icon-gb novelFlag"></span>
			<span *ngIf="novel.language=='es'" class="flag-icon flag-icon-es-override novelFlag"></span>
			<span *ngIf="novel.language=='fr'" class="flag-icon flag-icon-fr novelFlag"></span>
			<span *ngIf="novel.language=='de'" class="flag-icon flag-icon-de novelFlag"></span>
			<span class="ageRange">{{novel.agerange}} {{ 'novel.yearsold' | translate }}</span>
			</div>
			</mat-card-title>
			<mat-card-subtitle>{{novel.updateDateTime | date: 'dd/MM/yyyy'}}, 
			<span class = "novelPages" *ngIf="novel.scenes.length == 1">
				{{novel.scenes.length}} {{ 'novel.page' | translate }}
			</span>
			<span class = "novelPages" *ngIf="novel.scenes.length != 1">
				{{novel.scenes.length}} {{ 'novel.pages' | translate }}
			</span></mat-card-subtitle>
			</mat-card-header>
			  <img class = "novelImage" mat-card-image [src]="'data:' + novel.image.extension + ';base64,' +  
			novel.image.src" [alt]="novel.name">
			<mat-card-content>
			<p class = "novelDescription">{{novel.description}}</p>
			</mat-card-content>
			<mat-card-actions class="novelActions">
	    		<button *ngIf="novel.scenes.length > 0" mat-button (click)="readNovel(novel.id)">{{ 'novel.read' | translate }}</button>
	    		<span class = "novelButtons" *ngIf="currentUser && (novel.user.id === currentUser.id)">
	    		<button mat-button (click)="editNovel(novel.id)"><mat-icon>edit</mat-icon></button>
	    		</span>
  			</mat-card-actions>
		</mat-card>
	</mat-grid-tile>
	</mat-grid-list>
</div>
<app-footer></app-footer>
