.panel-body {
	display: flex;
	background: #eeeeee;
	
}

.novel{
	height: auto;
	margin-bottom: 10px;
}

li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}
ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.novelButtons button{
	float: right;
	min-width: 50px;
	padding: 0;
}

.novelTitle{
	display: flex;
	justify-content: space-between;
}

.novelFlag{
	margin-left: 10px;
	margin-right: 10px;
}

.novelDescription{
	word-wrap: break-word;
}

.novelAvatar:hover {
	cursor:pointer;
}

.novelCard{
	max-width: 450px;
}