<div class="footercontainer">
<footer class="mt-4 footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-xs-12">
					<ul>
						<li>
							<span class="logo">
								<img src="assets/LogoStimey.png" class="footerimg" alt="STIMEY-Logo" width="200">
					   		</span>
						</li>
						<li>
							<p class="pl-2 pr-3 mt-1">Stimey is a hybrid learning environment developed to make STEM education and careers more attractive to European youths.</p>
						</li>
						<li class="mt-2">
							<span class="logo">
								<img src="assets/European_Commission.svg.png" class="footerimg" alt="EU-Logo" width="200">
					   		</span>
						</li>
						<li>
							<p class="pl-2 pr-3 mt-1">This project has received funding from the European Union's Horiyon 2020 research and innovation programme under grant agreement No 709515.</p>
						</li>
					</ul>		   
				</div>
				<div class="col-lg-3 col-xs-12">
					<h3 class="mt-4">CONTACT US</h3>
					<ul>						
						<li class="">
							<p class="mb-0 pb-0">Project Website:</p>
							<a href="http://promostimey.virtualmin4.uca.es/">www.stimey.eu</a>
						</li>
						<li class="">
							<p class="mb-0 pb-0">E-Mail Address:</p>
							<a href="#">
								info@stimey.eu	
							</a>
						</li>
					</ul>		   
				</div>
				
				<div class="col-lg-3 col-xs-12 mt-4">
					<a href="help.html"><h3>Help</h3></a>
					<a href="#"><h3>FAQ</h3></a>
					<a href="#"><h3>Support Discussion</h3></a>
					<a href="#"><h3 class="mt-3">News</h3></a>
					<a href="#"><h3 class="mt-3">Announcements</h3></a>
				</div>
				<div class="col-lg-3 col-xs-12 mt-4">
					<h3>Social Media</h3>
					<ul>
						<li> 
							<a class="nav-link btn btn-nav" href="https://www.instagram.com/stimeyon/" title="Instagram">
								<img src="assets/ICON_Instagram.png" class="navimg clearfix w-75" alt="Instagram">
								<span>Instagram</span>
							</a>
						</li>
						<li> 
							<a class="nav-link btn btn-nav" href="https://www.facebook.com/StimeyOn/" title="Facebook">
								<img src="assets/ICON_Contact_Facebook.png" class="navimg clearfix w-75" alt="Facebook">
								<span>Facebook</span>
							</a>
						</li>
						<li> 
							<a class="nav-link btn btn-nav" href="https://plus.google.com/u/2/101795852047638754231" title="Youtube">
								<img src="assets/ICON_Youtube.png" class="navimg clearfix w-75" alt="Youtube">
								<span>Youtube</span>
							</a>
						</li>
						<li>
							<a class="nav-link btn btn-nav" href="https://twitter.com/StimeyOn" title="Twitter">
								<img src="assets/ICON_Contact_Twitter.png" class="navimg clearfix w-75" alt="Twitter">
								<span>Twitter</span>
							</a>
						</li>
						<li> 
							<a class="nav-link btn btn-nav" href="https://www.linkedin.com/company/stimey" title="Linkedin">
								<img src="assets/linkedin.png" class="navimg clearfix w-75" alt="Linkedin">
								<span>Linkedin</span>
							</a>
						</li>
					</ul>
				</div>
		 	</div>
	  	<div></div></div>
	</footer>
</div>