<div class="editPageCard">
<mat-card>     
	<div class="editNavButtons">
		<span (click)="editNovel()" class="backToNovel"><mat-icon>arrow_back</mat-icon> {{ 'editscene.editnovel' | translate }}</span>
		<span (click)="readPage()" class="backToPage">{{ 'editscene.viewpage' | translate }} <mat-icon>arrow_forward</mat-icon></span>
	</div>
	<div class="cardTitle"><mat-card-title>   
	{{ 'editscene.editingpage' | translate }} {{pageid}}
	</mat-card-title></div> 

	<mat-card-content>    
		<form [formGroup]="pageForm" (ngSubmit)="onSubmit()">    
			<table>    
				<tr>    
					<td colspan="1">
					<textarea ngxTrumbowygEditor matInput formControlName="text" placeholder="Text"></textarea>
					</td>    
				</tr>
				<tr>    
					<td>    
					<mat-form-field class="demo-full-width">    
					<input matInput formControlName="answer" placeholder="{{ 'editscene.answer' | translate }}">
					<mat-error *ngIf="answer.invalid && (answer.dirty || answer.touched)">
						<mat-error *ngIf="answer.errors.maxlength">{{ 'editscene.answer' | translate }} must not be longer than 15 characters.</mat-error>
					</mat-error>
					</mat-form-field>    
					</td>      
				</tr>
				<tr><td><br></td></tr>
				<tr>
				<td><img *ngIf="page" class = "pageImage" mat-card-image [src]="'data:' + page.image.extension + ';base64,' +  
						page.image.src" style="margin: 0 0 0 0;"></td>  
				</tr>
				<tr>    
					<td>       
					<input type="file" (change)="onFileChange($event)" placeholder="Page image"> 
					<div *ngIf="image">{{image.name}}</div>
					</td>   	 
				</tr> 
				<tr><td><br></td></tr>
					<tr>    
					<td colspan="1" class="content-center">    
					<button type="submit" [disabled]="!pageForm.valid" mat-raised-button color="accent">{{ 'editscene.submit' | translate }}</button>    
				</td>
				</tr>  
			</table>    
		</form>   
	</mat-card-content>    
</mat-card>
</div>