.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-image: url('/assets/CardHeaderBG.png') !important;
}

.navUser {
	margin-left: 10px;
}

.navImg{
	vertical-align: middle;
	border-style: none;
	font-size: 1.25rem;
	white-space: nowrap;
	font-weight: 400;
	text-align: left;
	height: 45px;
	margin-left: 15px;
}

.navTitle{
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #F5B51C;
    line-height: inherit !important;
}

.navBg{
	background-color: #575756 !important;
	color: #F5B51C !important;
}
