<mat-grid-tile *ngIf="scene">
	<mat-card class="sceneCard">
		<mat-card-header>
		<mat-card-title><span class="sceneName">Novel {{novel}}</span></mat-card-title>
		</mat-card-header>
		  <img mat-card-image [src]="scene.images[0].src">
		<mat-card-content>
		<p class = "sceneText">{{scene.text}}</p>
		</mat-card-content>
		<mat-card-actions>
    		<button mat-button (click)="previousPage()">PREVIOUS PAGE</button>
    		<button mat-button (click)="nextPage()">NEXT PAGE</button>
 		</mat-card-actions>
	</mat-card>
</mat-grid-tile>