.panel-body {
	display: flex;
	background: #eeeeee;
	
}

.sceneCard{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.cardContainer{
	display: flex;
	justify-content: center;
  	align-items: center;
}

.headerTitle{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
    margin: 0 auto;
}

:host ::ng-deep .sceneText > p > img{
	max-width: 100%;
	height: auto;
	display: block;
    margin: 0 auto;
}

:host ::ng-deep .sceneText > img{
	max-width: 100%;
	height: auto;
	display: block;
    margin: 0 auto;
}

.sceneText{
	word-wrap: wrap;
	max-width: 800px;
	padding: 3px;
}

.answerForm[hidden]{
	display: none;
}

.scene{
	height: 100%;
	margin-bottom: 10px;
}

li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}
ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.sceneName{
	font-size: 2em;
}

.editButtons button{
	min-width: 30px;
}