<div class="signupCard" *ngIf="user">
<mat-card>    
<!-- Title of an Card -->    
	<div *ngIf="sameAccount">
	<mat-card-title>    
	Edit Profile 
	</mat-card-title> 
	</div>
	<div *ngIf="!sameAccount">
	<mat-card-title>    
	Profile 
	</mat-card-title> 
	</div>   

	<mat-card-content>    
		<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">    
			<table>    
				<tr>    
					<td>    
					<h2>{{user.username}}</h2> 
					</td>
					</tr>
				<tr><td>Account created: {{user.createDateTime | timeAgo}}</td></tr>
				<tr>
				<td>
				<img class = "userAvatar" mat-card-image [src]="'data:' + user.avatar.extension + ';base64,' +  
			user.avatar.src" [alt]="user.username">
				</td>  
				<tr *ngIf="sameAccount">    
					<td>       
					<input type="file" (change)="onFileChange($event)" placeholder="Avatar"> 
					<div *ngIf="user.avatar">{{user.avatar.name}}</div>
					</td>    
				</tr>    
				<tr *ngIf="sameAccount">    
					<td colspan="1" class="content-center">    
					<button type="submit" [disabled]="!signupForm.valid" mat-raised-button color="accent">Submit</button>      
					</td>    
				</tr>    
			</table>    
		</form>    
	</mat-card-content>    
</mat-card>
</div>