/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~trumbowyg/dist/ui/trumbowyg.min.css";
@import "~flag-icon-css/css/flag-icon.css";

body{
	margin: auto;
	background-color: #f0f3f5 !important;
}

.flag-icon-es-override {
  background-image: url(/assets/esoverride.svg);
}